<a class="[ skip-link ] [ button ]" href="#main-content">{{ 'skip_to_content' | i18n }}</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="/{{ lang }}" aria-label="{{ site.name }} - {{ 'home' | i18n }}" class="site-head__brand">
        LOGO HERE
      </a>

      {% if navigation.items %}
        <nav
          class="[ nav ] [ site-head__nav ]"
          aria-label="{{ 'navigation' | i18n }}"
        >
          <ul class="nav__list">
            {% for item in navigation.items %}
            <li>
              <a href="{{ item.url[lang] | default(item.url[site.lang], true) }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                >{{ item.text | i18n }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</header>
